GEMINI_API_KEY=AIzaSyDIQH4fvvVTbFsx5yQC4gQMAXOSaS0Vn7U
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=econexo_db
POSTGRES_PORT=5432
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json